<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhan.mall.dao.ProductMapper">

    <select id="getProductList" resultType="com.wuhan.mall.entity.Product">
        select id,name,avatar,qualityLevel,type,viscosity from product
    </select>

    <select id="getProductVoList" resultType="com.wuhan.mall.vo.ProductVo">
        SELECT
            pa.id,
            pa.productId,
            pro.NAME,
            pa.pack,
            pa.price
        FROM
	        product_attribute AS pa
	    LEFT JOIN product AS pro ON pa.productId = pro.id
        WHERE
	        productId =#{proId}
    </select>

    <insert id="addProduct" useGeneratedKeys="true" keyProperty="id" parameterType="com.wuhan.mall.entity.Product">
        insert into product values(
            null,
            #{name},
            #{avatar},
            #{type},
            #{viscosity},
            #{qualityLevel},
            now(),
            now()
        )
    </insert>

    <insert id="addProductAttr" parameterType="com.wuhan.mall.entity.ProductAttribute">
        insert into product_attribute values(
            0,
            #{productId},
            #{pack},
            #{price},
            now(),
            now()
        )
    </insert>


    <delete id="delProduct">
        delete from product
         where id=#{id}
    </delete>

    <delete id="delProductAttr">
        delete from product_attribute where id = #{id}
    </delete>

    <update id="modifyProduct" parameterType="com.wuhan.mall.entity.Product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                name = #{name},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="viscosity != null">
                viscosity = #{viscosity},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="qualityLevel != null">
                qualityLevel = #{qualityLevel},
            </if>
            updateTime = now()
        </trim>
        where id = #{id}
    </update>

    <update id="modifyProductAttr" parameterType="com.wuhan.mall.entity.ProductAttribute">
        update product_attribute
        <trim prefix="set" suffixOverrides=",">
            <if test="pack != null">
                pack = #{pack},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            updateTime = now()
        </trim>
        where id = #{id}
    </update>
</mapper>